<!DOCTYPE html>
<html lang="en">

<head>
  <% include head2 %>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
</head>

<!--<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <!--<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <!--<div id="main-wrapper">
        <!-- header header  -->
        <% include header2 %>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <!--<div class="left-sidebar">-->
            <!--[> Sidebar scroll<]-->
            <!--<div class="scroll-sidebar">-->
                <!--[> Sidebar navigation<]-->
                <!--<nav class="sidebar-nav">-->
                    <!--<ul id="sidebarnav">-->
                        <!--<li class="nav-devider"></li>-->
                        <!--<li class="nav-label">Home</li>-->
                        <!--<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Profile <span class="label label-rouded label-primary pull-right">2</span></span></a>-->
                            <!--<ul aria-expanded="false" class="collapse">-->
                                <!--<li><a href="index.html">Ecommerce </a></li>-->
                                <!--<li><a href="index1.html">Analytics </a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--[><li class="nav-label">Apps</li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="email-compose.html">Compose</a></li><]-->
                                <!--[><li><a href="email-read.html">Read</a></li><]-->
                                <!--[><li><a href="email-inbox.html">Inbox</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="chart-flot.html">Flot</a></li><]-->
                                <!--[><li><a href="chart-morris.html">Morris</a></li><]-->
                                <!--[><li><a href="chart-chartjs.html">ChartJs</a></li><]-->
                                <!--[><li><a href="chart-chartist.html">Chartist </a></li><]-->
                                <!--[><li><a href="chart-amchart.html">AmChart</a></li><]-->
                                <!--[><li><a href="chart-echart.html">EChart</a></li><]-->
                                <!--[><li><a href="chart-sparkline.html">Sparkline</a></li><]-->
                                <!--[><li><a href="chart-peity.html">Peity</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li class="nav-label">Features</li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Bootstrap UI <span class="label label-rouded label-warning pull-right">6</span></span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="ui-alert.html">Alert</a></li><]-->
                                <!--[><li><a href="ui-button.html">Button</a></li><]-->
                                <!--[><li><a href="ui-dropdown.html">Dropdown</a></li><]-->
                                <!--[><li><a href="ui-progressbar.html">Progressbar</a></li><]-->
                                <!--[><li><a href="ui-tab.html">Tab</a></li><]-->
                                <!--[><li><a href="ui-typography.html">Typography</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
						<!--<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Booking Room <span class="label label-rouded label-danger pull-right">6</span></span></a>-->
                            <!--<ul aria-expanded="false" class="collapse">-->
                                <!--<li><a href="uc-calender.html">Calender</a></li>-->
                                <!--<li><a href="uc-datamap.html">Datamap</a></li>-->
                                <!--<li><a href="uc-nestedable.html">Nestedable</a></li>-->
                                <!--<li><a href="uc-sweetalert.html">Sweetalert</a></li>-->
                                <!--<li><a href="uc-toastr.html">Toastr</a></li>-->
                                <!--<li><a href="uc-weather.html">Weather</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Forms</span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="form-basic.html">Basic Forms</a></li><]-->
                                <!--[><li><a href="form-layout.html">Form Layout</a></li><]-->
                                <!--[><li><a href="form-validation.html">Form Validation</a></li><]-->
                                <!--[><li><a href="form-editor.html">Editor</a></li><]-->
                                <!--[><li><a href="form-dropzone.html">Dropzone</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Tables</span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="table-bootstrap.html">Basic Tables</a></li><]-->
                                <!--[><li><a href="table-datatable.html">Data Tables</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li class="nav-label">Layout</li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Layout</span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="layout-blank.html">Blank</a></li><]-->
                                <!--[><li><a href="layout-boxed.html">Boxed</a></li><]-->
                                <!--[><li><a href="layout-fix-header.html">Fix Header</a></li><]-->
                                <!--[><li><a href="layout-fix-sidebar.html">Fix Sidebar</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li class="nav-label">EXTRA</li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Pages <span class="label label-rouded label-success pull-right">8</span></span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->

                                <!--[><li><a href="#" class="has-arrow">Authentication <span class="label label-rounded label-success">6</span></a><]-->
                                    <!--[><ul aria-expanded="false" class="collapse"><]-->
                                        <!--[><li><a href="page-login.html">Login</a></li><]-->
                                        <!--[><li><a href="page-register.html">Register</a></li><]-->
                                        <!--[><li><a href="page-invoice.html">Invoice</a></li><]-->
                                    <!--[></ul><]-->
                                <!--[></li><]-->
                                <!--[><li><a href="#" class="has-arrow">Error Pages</a><]-->
                                    <!--[><ul aria-expanded="false" class="collapse"><]-->
                                        <!--[><li><a href="page-error-400.html">400</a></li><]-->
                                        <!--[><li><a href="page-error-403.html">403</a></li><]-->
                                        <!--[><li><a href="page-error-404.html">404</a></li><]-->
                                        <!--[><li><a href="page-error-500.html">500</a></li><]-->
                                        <!--[><li><a href="page-error-503.html">503</a></li><]-->
                                    <!--[></ul><]-->
                                <!--[></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">Maps</span></a><]-->
                            <!--[><ul aria-expanded="false" class="collapse"><]-->
                                <!--[><li><a href="map-google.html">Google</a></li><]-->
                                <!--[><li><a href="map-vector.html">Vector</a></li><]-->
                            <!--[></ul><]-->
                        <!--[></li><]-->
                        <!--[><li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-level-down"></i><span class="hide-menu">Multi level dd</span></a><]-->
                            <!--[>[><ul aria-expanded="false" class="collapse"><]<]-->
                                <!--[>[><li><a href="#">item 1.1</a></li><]<]-->
                                <!--[>[><li><a href="#">item 1.2</a></li><]<]-->
                                <!--[>[><li> <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a><]<]-->
                                    <!--[>[><ul aria-expanded="false" class="collapse"><]<]-->
                                        <!--[>[><li><a href="#">item 1.3.1</a></li><]<]-->
                                        <!--[>[><li><a href="#">item 1.3.2</a></li><]<]-->
                                        <!--[>[><li><a href="#">item 1.3.3</a></li><]<]-->
                                        <!--[>[><li><a href="#">item 1.3.4</a></li><]<]-->
                                    <!--[>[></ul><]<]-->
                                <!--[>[></li><]<]-->
                                <!--[>[><li><a href="#">item 1.4</a></li><]<]-->
                            <!--[>[></ul><]<]-->
                        <!--[></li><]-->
                    <!--</ul>-->
                <!--</nav>-->
                <!--[> End Sidebar navigation <]-->
            <!--</div>-->
            <!--[> End Sidebar scroll<]-->
            </div>
        <% include left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <!--<div class="page-wrapper">
                      <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <!--<div class="container-fluid">
                <!-- Start Page Content -->
                <!--<div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="#" method="post">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Username <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <!-- <input type="text" class="form-control" id="val-username" name="val-username" placeholder="Enter a username.."> -->

                                            <!--</div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Email <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-email" name="val-email" placeholder="Your valid email..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-password">Password <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="password" class="form-control" id="val-password" name="val-password" placeholder="Choose a safe one..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-confirm-password">Confirm Password <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="..and confirm it!">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">Suggestions <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="5" placeholder="What would you like to see?"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">Best Skill <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="val-skill" name="val-skill">
                                                    <option value="">Please select</option>
                                                    <option value="html">HTML</option>
                                                    <option value="css">CSS</option>
                                                    <option value="javascript">JavaScript</option>
                                                    <option value="angular">Angular</option>
                                                    <option value="angular">React</option>
                                                    <option value="vuejs">Vue.js</option>
                                                    <option value="ruby">Ruby</option>
                                                    <option value="php">PHP</option>
                                                    <option value="asp">ASP.NET</option>
                                                    <option value="python">Python</option>
                                                    <option value="mysql">MySQL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">Currency <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="$21.60">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-website">Website <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-website" name="val-website" placeholder="http://example.com">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-phoneus">Phone (US) <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-phoneus" name="val-phoneus" placeholder="212-999-0000">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-digits">Digits <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-digits" name="val-digits" placeholder="5">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-number">Number <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-number" name="val-number" placeholder="5.0">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-range">Range [1, 5] <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-range" name="val-range" placeholder="4">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label"><a data-toggle="modal" data-target="#modal-terms" href="#">Terms &amp; Conditions</a> <span class="text-danger">*</span></label>
                                            <div class="col-lg-8">
                                                <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                                                                        <input type="checkbox" class="css-control-input" id="val-terms" name="val-terms" value="1">
                                                                                        <span class="css-control-indicator"></span> I agree to the terms
                                                                                    </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            <!--</div>
            
            <table style="width:100%" id="table">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Mpaa-rating</th>
                <th>Director</th>
                <th>Cast</th>
                <th>Short description</th>
                <th>IMDB-rating</th>
            </tr>
            </table>




            <!-- End Container fluid  -->
            <!-- footer -->
            <!--<footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        </div>
        <!-- End Page wrapper  -->
    <!--</div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
<!--</body>-->

<body>
    <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            
            <div class="container">
   
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
         <h3 id="localUserName4"></h3>
         <em>click my face for more</em>
        </center>
            <div class="modal hide" id="aboutModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">✕</button>
                    <h3>About &nbsp</h3>
                    <h3 id="localUserName2"></h3>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <div id="modalTab">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="about">
                                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                        <h3 class="media-heading" id="localUserName1"></h3>
                                        <span><strong>Skills: </strong></span>
                                        <span class="label label-warning" id="localUserName"></span>
                                        <span class="label label-info" id="uni_department"></span>
                                        <span class="label label-info" id="university"></span>
        
                                        <center>
                                            <p class="text-left"><strong>Bio: </strong><br>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                                        <br>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 id="localUserName5"></h3>
        <h3 id="uni_department1"></h3>
        <h3 id="university1"></h3>
        <!--<span class="label label-warning" id="localUserName"></span>
        <span class="label label-info" id="uni_department"></span>
        <span class="label label-info" id="university"></span>-->
    </div>
</div>
    <div class="col-lg-8">
        <table style="width:100%" id="table">
            <br>
        <tr>
            <th>#</th>
            <th>RoomID</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </table>



    </div>
</div>
        

                
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
</body>

  <% include scripts %>
  <script>
    var userdata ;
    $( document ).ready(function() {
        $.ajax({
            type: 'POST',
            // data: JSON.stringify(data),
            data: {
                userName: "admin"
            },
            // contentType: "application/javascript",
            contentType: "application/x-www-form-urlencoded",
            dataType:'json',
            url: 'http://localhost:3000/getUserinfo',                      
            success: function(data) {
                userdata = data;
                console.log('success');
                console.log(JSON.stringify(data));
                //alert(userdata);                
                //$("#table").append(JSON.stringify(data));
                var _id             = data[0]._id;
                var localUserName   = data[0].localUserName;
                var localPassword   = data[0].localPassword;
                var oauthID         = data[0].oauthID;
                var isRegCompletely = data[0].isRegCompletely;
                var created         = data[0].created;
                var __v             = data[0].__v;
                var uni_department  = data[0].uni_department;
                var university      = data[0].university;
                var joinCourses     = data[0].joinCourses;
                var ownCourses      = data[0].ownCourses;
                
                var table = '<tr><td>'+_id+'</td><td>'+localUserName+'</td><td>'+localPassword+'</td><td>'+oauthID+'</td><td>'+isRegCompletely+'</td><td>'+created+'</td><td>'+__v+'</td>td>'+uni_department+'</td>td>'+university+'</td><td>'+joinCourses+'</td><td>'+ownCourses+'</td></tr>';
                //$("table").append(table);
                $("#localUserName").append(localUserName);
                $("#localUserName1").append(localUserName);
                $("#localUserName2").append(localUserName);
                $("#localUserName3").append(localUserName);
                $("#localUserName4").append(localUserName);
                $("#localUserName5").append(localUserName);
                $("#uni_department").append(uni_department);
                $("#uni_department1").append(uni_department);
                $("#university").append(university);
                $("#university1").append(university);               
            },
            error: function(error) {
                console.log("some error in fetching the notifications");
            }

        });
    });

    var userdata1 ;
    $( document ).ready(function() {
        $.ajax({
            type: 'POST',
            // data: JSON.stringify(data),
            data: {
                userName: "admin2"
            },
            // contentType: "application/javascript",
            contentType: "application/x-www-form-urlencoded",
            dataType:'json',
            url: 'http://localhost:3000/getUserinfo',                      
            success: function(data) {
                userdata1 = data;
                console.log('success');
                console.log(JSON.stringify(data));
                //alert(userdata);                
                //$("#table").append(JSON.stringify(data));
                var _id             = data[0]._id;
                var localUserName   = data[0].localUserName;
                var localPassword   = data[0].localPassword;
                var oauthID         = data[0].oauthID;
                var isRegCompletely = data[0].isRegCompletely;
                var created         = data[0].created;
                var __v             = data[0].__v;
                var uni_department  = data[0].uni_department;
                var university      = data[0].university;
                var joinCourses     = data[0].joinCourses;
                var ownCourses      = data[0].ownCourses;

                var number         = 1;
                var roomID         = data[0].recorModels[0].roomID;

                
                var table = '<tr><td>'+number+'</td><td>'+roomID+'</td></tr>';
                $("table").append(table);
                $("#localUserName").append(localUserName);
                $("#localUserName1").append(localUserName);
                $("#localUserName2").append(localUserName);
                $("#localUserName3").append(localUserName);
                $("#localUserName4").append(localUserName);
                $("#localUserName5").append(localUserName);
                $("#uni_department").append(uni_department);
                $("#uni_department1").append(uni_department);
                $("#university").append(university);
                $("#university1").append(university);               
            },
            error: function(error) {
                console.log("some error in fetching the notifications");
            }

        });
    });

                
</script>
</html>
