<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body>
    
    <div id="wrapper">

        <% include navigation %>

        <% include page-wrapper %>
        <!-- /#page-wrapper -->
    </div>

    <footer>
        <% include footer %>

    </footer>
    
    <% include dialog %>
    <% include dialogs/addCourse %>
    <% include dialogs/addJoinCourse %>
    <% include dialogs/addNote %>
    <% include dialogs/profile%>
    <% include data-loader%> 


    <!-- Public Javascript -->
    <script src="assets/lib/js/jquery.js"></script>
    <script src="assets/lib/js/bootstrap.js"></script>
    <script src="assets/lib/js/js.cookie.js"></script>
    <script src="assets/lib/js/firebase.js"></script>
    <script src="assets/lib/js/codemirror.js"></script>
    <script src="assets/lib/js/firepad.js"></script>
    <script src="assets/lib/js/typeahead.bundle.js"></script>
    <script src="assets/lib/js/typeahead.jquery.js"></script>
    <script src="assets/lib/js/bloodhound.js"></script>
    <script src="assets/lib/js/formValidation.js"></script>
     <script src="assets/lib/js/bootstrap.min.js"></script>
   
    <script src="public/dashboard/javascript/ejs_production.js"></script>
    <!-- Custom Javascript -->
    <script src="public/dashboard/javascript/dashboard.js"></script>

</body>
</html>