<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">
    
    <div id="wrapper">

        <% include navigation %>

        <% include page-wrapper %>

        </div>
        <!-- /#page-wrapper -->

    </div>

        <strong><%= user  %></strong><br>

    <footer>
        <% include footer %>
    </footer>
    
</body>


    <% include data-loader%> 


<!-- Public Javascript -->
<script src="assets/lib/js/jquery.js"></script>
<script src="assets/lib/js/bootstrap.js"></script>
<script src="assets/lib/js/js.cookie.js"></script>


<script src="public/dashboard/javascript/dashboard.js"></script>

</html>