<!-- views/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Coconut Board</title>

<!-- Public CSS (load bootstrap from a assets) -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/lib/css/bootstrap.css">

<link rel="stylesheet" href="assets/lib/css/codemirror.css">
<link rel="stylesheet" href="assets/lib/css/firepad.css">
<link rel="stylesheet" href="assets/lib/css/formValidation.css">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
 -->
<!-- Custom CSS  -->
<link rel="stylesheet" href="public/dashboard/stylesheet/css/dashboard.css">
<link rel="stylesheet" href="public/dashboard/stylesheet/css/typeahead.css">

<link rel="stylesheet" href="assets/lib/css/font-awesome.css">

