<!-- Modal -->
<div class="modal fade" id="addCourseModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row centered-form">
        <div class="col-xs-12">
          <div class="panel panel-default" style="margin-bottom:0px;background: rgba(255, 255, 255, 0.8);">
            <div class="panel-heading">
                <h3 class="panel-title text-center">請填寫課程名稱<br><small>Please complete full information</small></h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post" action="/addNewCourse" >
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        <label for="InputCourseName">課程名稱</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="text" name="courseName" id="Coursename" class="form-control input-sm" placeholder="課程名稱">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        <label for="InputOwnerName">課程筆記主人</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <input id="AddCouserInputOwnerName"class="form-control" type="text" name="ownerName" value="" placeholder=""readonly>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        <label for="InputAcadeYear">開設學年</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <select class="form-control" name="acadeYear">
                            <option>104_上</option>
                            <option>104_下</option>
                          </select>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        <label for="InputForClass">開設班級</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="text" name="forClass" id="forClass" class="form-control input-sm" placeholder="系級">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                        </div>
                    </div>
                    <br>
                    <input type="hidden" name="ownerFBuid" id="AddCouserInputOwnerFBuid">

                    <input type="submit" value="Register" class="btn btn-info btn-block">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>